body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #101010;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007BFF;
    
}

h3 {
    color: #0056b3;
}

.responsive-img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1.1rem;
    cursor: pointer;
    display: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s ease;
}
#back-to-top:hover {
    background-color: #3498db;
    transform: translateY(-5px);
}
footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer p {
    font-size: 1rem;
}
footer span {
    font-weight: bold;
}
.button:hover {
    background-color: #444;
    color: white;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
body.dark-mode {
    background-color: #141414;
    color: rgb(37, 152, 37);
}